# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
static
kilogram/__pycache__/
kilogram/migrations/__pycache__/
mysite/__pycache__/
